html{
  font-size: 2vw;
}

body{
  background-color: #F5F5F5;
}

.title_todos{
  color: #FFE4C4;
  font-size: 2rem;
  margin: 5% 0 0 0;
  padding: 0 40% 0 45%;
}

input{
  width: 25%;
  height: 6vh;
  font-size: 0.7rem;
  border: white solid 0px;
  float: left;
}
input:focus{
  outline: none;
}

.button_down{
  color: #F5F5F5;
  font-size:1rem;
  padding-top: 0.4%;
  padding-left: 0.5%;
  background-color: white;
  width: 3%;
  height: 5.2%;
  margin: 0 0 0 37%;
  float: left;
}
.button_down:hover{
  cursor: pointer;
}

#main_list{
  width: 28.5%;
  margin:0 0 0 37%;
  float: left;
  background-color: white;
}

.div_list{
  width: 78%;
  height: 6vh;
  border-bottom: #E8E8E8 solid 0.3px;
  background-color: white;
  float: left;
}
.div_list p{
  margin: 0px;
  font-size: 0.7rem;
  color: #0D0D0D;
  line-height: 3vw;
}

.status_list{
  width: 12%;
  height: 6vh;
  float: left;
  background-color: red;
}

.delete_list{
  width: 10%;
  height: 6vh;
  float: left;
  background-color: green;
}

